<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center px-4">

        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

            <i class="bi-hdd-fill"></i>

            <h3>Back-end</h3>

            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP .NET Core, SQL Server, NodeJs, PHP, TypeScript
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web API</li>
                <li>ASP .NET Core MVC</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
                <li>lodash</li>
                <li>async</li>
                <li>npm</li>
                <li>ES6</li>
                <li>Express</li>
                <li>Chromium</li>
                <li>babel</li>
                <li>WebSocket</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="box-shadow: 0 5px 5px 0 gray">

            <i class="bi-code-slash"></i>

            <h3>Front-End</h3>
            <p>
                Puedo crear Front-End robustos los cuales cumplen con los requerimientos del negocio.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Angular, VueJs y React
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React</li>
                <li>Angular</li>
                <li>VueJs</li>
                <li>bootstrap</li>
                <li>jQuery</li>
                <li>Pruebas automáticas</li>
                <li>Markdown</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="box-shadow: 0 5px 5px 0 gray">

            <i class="bi-database"></i>

            <h3>Base de datos</h3>
            <p>
                Puedo crear y desarrollar bases de datos relacionales y no relaciones.
            </p>

            <p class="text-primary cabecera">
                Experiencia db relacionales:
            </p>

            <ul>
                <li>SQLite</li>
                <li>PostgreSQL</li>
                <li>SQLServer</li>
            </ul>

            <p class="text-primary cabecera">
                Experiencia db no relacionales:
            </p>

            <ul>
                <li>mongo db</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

            <i class="bi-translate"></i>

            <h3>Idiomas</h3>

            <ul>
                <li>Euskera B2 (Nativo)(Con titulación)</li>
                <li>Castellano (Nativo)</li>
                <li>English (Nivel intermedio)(Actualmente estudiando)(sin titulación)</li>
            </ul>

        </div>

    </div>
</div>

