<div class="text-center">
    <!-- 
        ViewBag
        Para obtener la variable del controlador mediante el ViewBag utilizamos el arroba
    -->
    <!--<h1 class="display-4">Soy @ViewBag.name</h1>-->

    <!--
        MODELO TIPADO
        para obtener el valor del modelo se pone la primera letra en mayuscula "Model"
    -->
    <h1 class="display-4">Soy Mikel Larruzea</h1>

    <h2>Soy un desarrollando full stack especializado en tecnologías .NET, NodeJs, PHP</h2>

    <img 
     id="photo"
     src="~/imagenes/photo.jpg" 
     alt="Foto Mikel"
    >

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo">
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde 2016. He tenido el privilegio de trabajar con ibermática,
            realizando proyectos para eroski. Actualmente estoy trabajando en Picmatic.sa desarrollando software para máquinas de cambios y máquinas de ventas. 
            Actualmente trabajando con tecnologías como NodeJs y typescript.
        </p>
    </div>
</div>